body {
    margin: 0;
}

header {
    background-color: #45425a;
    color: white;
    padding: 20px;
    
}
main {
    margin: 15vw;
}

footer {
    background-color: #EEE;
    padding: 30px;
    margin-top: 30px;
    text-align: center;
}
p {
    font-weight: bold;
}
ol {
    margin-bottom: 40px;
    
}

code {
    background-color: #EEE;
    font-size: 1.2em;
    font-weight: bold;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
}

.card {
    border: solid 2px #000;
    padding: 10px;
}

.card img {
    width: 100%;
    border: solid 2px #000;
}
#card1 , #card3 , #card5 {
    background-color: #EEEEEE;
}
#card1 img[src="https://picsum.photos/id/10/200/200"] {
    border-radius: 50%;
}
#card3 img[src="https://picsum.photos/id/12/200/200"] {
    border-radius: 50%;
}
#card5 img[src="https://picsum.photos/id/14/200/200"] {
    border-radius: 50%;
}
#card2 ,#card4 , #card6 {
    background-color: #bce5d6;
}
footer {
    background-color: #EEE;
    padding: 30px;
    margin-top: 30px;
    text-align: center;
    font-weight: bolder;
}