body {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    color: #fff;
}

a,
a:hover,
a:visited,
a:active {
    color: #fff;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

/**********/
/* Layout */
/**********/
aside,
footer,
header,
nav,
section,
article {
    display: flex;
    flex-direction: column;
}

body {
    overflow: hidden;
    margin: 0px;
    height: 100vh;
    /* body tag is a grid */
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: auto 100px;
}

aside {
    background-color: #000;
    grid-column-start: 1;
}

header {
    background: #111;
    position: sticky;
    top: 0px;
}

/* Uncomment to see borders:  */
/* header, nav, article {
    border: solid 5px teal;
    padding: 10px;
}
main {
    border: solid 5px hotpink;
    padding: 10px;
} */

main {
    background: #111;
    grid-column-start: 2;
    overflow-y: auto;
    z-index: 3;
}

footer {
    background: #222;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: span 2;
}


/***************************/
/* Accessories & Florishes */
/***************************/
::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-thumb {
    border: 4px solid transparent;
    border-radius: 16px;
    background-clip: padding-box;
    min-height: 30px;
}

::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 100%, .3);
}

/***************************/
/* Part A: Left Navigation */
/***************************/
#sidebar {
    width: 300px;
    padding: 50px;
    /* Remove margin? */
}

h1 {
    justify-content: flex-start
}





/********************************/
/* Part B: Header & Nav Styling */
/********************************/


header {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin-right: 50px;
    margin-top: 25px;
}
#upgrade {
    background-color: black;
    border-radius: 10px;
    padding: 10px;
    outline: 2px solid gray;
    
}
#profile {
    background-color:rgb(47, 46, 46);
    border-radius: 10px;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    justify-content: space-between;
}

/* need to seperate profile and upgrade from others */




/*************************/
/* Part C: Artists Panel */
/*************************/
/* Your Code Here.
   For the desktop view, there should be 5 cards per row.
*/
#featured-content {
    display: grid;
    grid-template-columns: repeat(5, auto);
    column-gap: 20px;
    row-gap: 20px;



}

.artist-card {
    background-color:rgb(47, 46, 46);
    border-radius: 10px;
    padding: 10px;
}
.artist-card button {
    display: none;
}
.artist-card img {
    width: 100%;
    border-radius: 50%;
    
}






/**************************/
/* Part D: Responsive UIs */
/**************************/

/* Your Code Here */

@media screen and (max-width: 1000px) {

    /* 
        Tablet Display: 3 cards per row!
    */
    .artist-card {
        display: grid;
        columns: 2 auto;
    }
}


@media screen and (max-width: 700px) {

    #featured-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 15px;
        column-gap: 15px;
    }
    
    #upgrade, #sidebar {
        display: none;
    }
   body {
    grid-template-columns: 100%;
   }

   main {
    grid-column-start: 1;
   }

}